
<div id="<%= dom_id entry %>" class="card rounded-lg bg-base-100 shadow-x mb-4">
  <dl class="-my-3 divide-y divide-gray-100 text-sm dark:divide-gray-700">

    <div
      class="flex items-center justify-center p-3 bg-gray-50 sm:gap-4 dark:bg-gray-900"
    >
      <dd class="text-gray-500 font-bold text-xl sm:col-span-2 dark:text-gray-100">  <%= entry.meal_type %> </dd>
    </div>

    <div
      class="flex items-center justify-between p-3 bg-gray-50 sm:gap-4 dark:bg-gray-800"
    >
      <dt class="font-medium text-gray-900 dark:text-white">Calories</dt>
      <dd class="text-gray-700 sm:col-span-2 dark:text-gray-200">
        <%= entry.calories %>
      </dd>
    </div>

    <div
      class="flex items-center justify-between p-3 bg-gray-50 sm:gap-4 dark:bg-gray-800"
    >
      <dt class="font-medium text-gray-900 dark:text-white">
        Proteins
      </dt>
      <dd class="text-gray-700 sm:col-span-2 dark:text-gray-200">
        <%= entry.proteins %>
      </dd>
    </div>

    <div
      class="flex items-center justify-between p-3 bg-gray-50 sm:gap-4 dark:bg-gray-800"
    >
      <dt class="font-medium text-gray-900 dark:text-white">
        Carbohydrates
      </dt>
      <dd class="text-gray-700 sm:col-span-2 dark:text-gray-200">
        <%= entry.carbohydrates %>
      </dd>
    </div>

    <div
      class="flex items-center justify-between p-3 bg-gray-50 sm:gap-4 dark:bg-gray-800"
    >
      <dt class="font-medium text-gray-900 dark:text-white">Fats</dt>
      <dd class="text-gray-700 sm:col-span-2 dark:text-gray-200">
        <%= entry.fats %>
      </dd>
    </div>

    <div
      class="flex items-center justify-between p-3 bg-gray-50 sm:gap-4 dark:bg-gray-800"
    >
      <dt class="font-medium text-gray-900 dark:text-white">Logged</dt>
      <dd class="text-gray-700 sm:col-span-2 dark:text-gray-200">
        <%= time_ago_in_words(entry.created_at) %>
      </dd>
    </div>

    <div
      class="flex p-3 bg-gray-50 sm:gap-4 dark:bg-gray-800 justify-center"
    >
      <div class="join rounded-none">
    
          <%= link_to "Show", entry, class: "btn join-item hover:text-primary" %>
        
          <%= link_to "Edit", edit_entry_path(entry), class: "btn join-item hover:text-secondary" %>
        
        
          <%= button_to "Delete", entry, method: :delete, data: { confirm: "Are you sure?" }, class: "btn join-item hover:text-error" %>
      
      </div>
    </div>

  </dl>
</div>
