<%= form_with(model: entry) do |form| %>

  <% if entry.errors.any? %>
    <div role="alert" class="alert alert-error rounded-b-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <p><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:
        </p>
    </div>
    <ul class="alert alert-error rounded-t-none flex flex-col items-start gap-2">
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :meal_type, class: "input input-bordered flex items-center gap-2 mb-4 w-96 mt-4" do %>
    Meal Type
    <%= form.text_field :meal_type, class: "grow" %>
    <% end %>
  </div>

  <div>
    <%= form.label :calories, class: "input input-bordered flex items-center gap-2 mb-4 w-96" do %>
    Calories
    <%= form.number_field :calories, class: "grow" %>
    <% end %>
  </div>

  <div>
    <%= form.label :proteins, class: "input input-bordered flex items-center gap-2 mb-4 w-96" do %>
    Proteins
    <%= form.number_field :proteins, class: "grow" %>
    <% end %>
  </div>

  <div>
    <%= form.label :carbohydrates, class: "input input-bordered flex items-center gap-2 mb-4 w-96" do %>
    Carbohydrates
    <%= form.number_field :carbohydrates, class: "grow" %>
    <% end %>
  </div>

  <div>
    <%= form.label :fats, class: "input input-bordered flex items-center gap-2 mb-4 w-96" do %>
    Fats
    <%= form.number_field :fats, class: "grow" %>
    <% end %>
  </div>

  <div class="w-full flex justify-center">
    <%= form.submit class: "btn btn-primary w-full" %>
  </div>
<% end %>
