
<%= content_for :title do %>
  FoodLog - <%= DateTime.now.strftime('%B %e %Y') %>
<% end %>

<div id="entries">
  <div class="grid grid-cols-3 gap-4">
  <% @entries.each do |entry| %>
    <%= render entry %>
  <% end %>
  </div>
</div>

<div class="w-full flex justify-center mt-4">
  <%= link_to "Archives", archives_index_path, class: "btn btn-ghost" %>
</div>
