<div class="w-full flex justify-center mb-4">
  <div class="card min-w-min bg-base-100 p-4 shadow-xl">

    <h1 class="text-xl text-center mb-4" >New entry</h1>

    <%= render "form", entry: @entry %>

    <br>

  </div>
</div>

<div class="w-full flex justify-center">
  <div class="join">
    <%= link_to "Show this entry", @entry, class: "join-item btn" %> 
    <%= link_to "Back to entries", entries_path, class: "join-item btn" %>
  </div>
</div>