<div class="shadow-lg">
    <div class="navbar bg-base-100">
        <div class="container mx-auto">
            <div class="flex-1">
                <%= link_to "FoodLog", entries_path, class: "btn btn-ghost text-2xl" %>
            </div>
            <div class="flex-none">
                <%= link_to new_entry_path do %>
                    <button class="btn btn-active btn-primary">
                        New Entry
                    </button>
                <% end %>
            </div>
        </div>
    </div>
    <div class="container mx-auto flex justify-center w-full">
        <h1 class="text-2xl semibold mb-4">
            <% if content_for(:title) %>
                <%= yield(:title) %>
            <% else %>
                FoodLog Entry
            <% end %>
        </h1>
    </div>
</div>