<%= content_for :title do%>
    FoodLog Archives
<% end %>

<div id="entries" class="w-full flex flex-col items-center justify-center">
  <% @entries.each do |day, entries| %>
    <h2 class="text-2xl font-bold mb-2"><%= day %></h2>
    
    <div>
        <div class="stats stats-vertical lg:stats-horizontal shadow mb-6">
        
        <div class="stat">
            <div class="stat-title">Calories</div>
            <div class="stat-value">
                <%= entries.pluck(:calories).sum %>
            </div>
        </div>
        
        <div class="stat">
            <div class="stat-title">Carbohydrates</div>
            <div class="stat-value">
                <%= entries.pluck(:carbohydrates).sum %>
            </div>
        </div>
        
        <div class="stat">
            <div class="stat-title">Proteins</div>
            <div class="stat-value">
                <%= entries.pluck(:proteins).sum %>
            </div>
        </div>

        <div class="stat">
            <div class="stat-title">Fats</div>
            <div class="stat-value">
                <%= entries.pluck(:fats).sum %>
            </div>
        </div>
        
        </div>
    </div>

    <% entries.each do |entry| %>
        <div class=" w-full flex flex-col justify-center">
            <%= link_to entry_path(entry) do %>
                <div class="card w-2/3 mx-auto rounded-xl px-8 py-4 mb-4 bg-gray-900 shadow-xl">
                    <div class="flex items-start justify-between mb-2">
                        <h3 class="self-start text-xl font-bold"><%= entry.meal_type %></h3>
                        <p class="font-semibold"><%= entry.created_at.strftime("%B %e %Y") %></p>
                    </div>
                    <hr class="border-t-2 border-gray-500">
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <strong class="text-lg font-bold flex flex-col items-center">
                            Calories
                            <span class="text-sm text-center font-normal">
                                <%= entry.calories %>
                            </span>
                        </strong>
                        <strong class="text-lg font-bold flex flex-col items-center">
                            Carbohydrates
                            <span class="text-sm font-normal">
                                <%= entry.carbohydrates %>
                            </span>
                        </strong>

                        <strong class="text-lg font-bold flex flex-col items-center">
                            Proteins
                            <span class="text-sm font-normal">
                                <%= entry.proteins %>
                            </span>
                        </strong>
                        <strong class="text-lg font-bold flex flex-col items-center">
                            Fats
                            <span class="text-sm font-normal">
                                <%= entry.fats %>
                            </span>
                        </strong>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
  <% end %>
  </div>
</div>

<div class="w-full flex justify-center mt-4">
  <%= link_to "Entries", root_path, class: "btn btn-ghost" %>
</div>